# =========================
# Compiled Output Files
# =========================
*.class

# =========================
# Serialized Data Files
# =========================
*.ser

# =========================
# IDE Specific meta data if any
# =========================
.project
.settings/
.idea/
